section.main-page__hot.hot
  h2.hot__name
    | Самое обсуждаемое 
    span.hot__icon.hot__icon--fire
  
  if popularArticles
    ul.hot__list
      each article, i in popularArticles
        - const isLastItem = i === popularArticles.length - 1;
        li(
          class={
            'hot__list-item': true,
            'hot__list-item--end': isLastItem,
          }
          data-id=article.id
        )
          a.hot__list-link(href=`/articles/${article.id}`)
            | #{article.announce}
            sup.hot__link-sup #{article.count}
  else
    p Здесь пока ничего нет
